<~template "base/base.html" .~>
<~template "base/base_common.html" .~>
<~define "meta"~><title><~i18n .Lang "auth.user_profile"~> - <~i18n .Lang "app_name"~></title><~end~>
<~define "body"~>
<div class="row">
    <div id="content">
        <div class="col-md-3">
            <div class="box">
                <ul class="nav nav-side">
                    <li class="cell first">
                        <h4 class="head"><i class="icon icon-cogs"></i> <~i18n .Lang "auth.user_settings"~></h4>
                    </li>
                    <li class="active">
                        <a href="<~.AppUrl~>settings/profile"><~i18n .Lang "auth.user_profile"~></a>
                    </li>

                    <li class="">
                        <a href="<~.AppUrl~>settings/profile/nickname"><~i18n .Lang "auth.nickname"~></a>
                    </li>


                    <li class="">
                        <a href="<~.AppUrl~>settings/profile/security"><~i18n .Lang "auth.security"~></a>
                    </li>

                    <li class="">
                        <a href="<~.AppUrl~>settings/profile/social"><~i18n .Lang "auth.social_info"~></a>
                    </li>
                    <li class="">
                        <a href="<~.AppUrl~>settings/profile/avatar"><~i18n .Lang "auth.avatar"~></a>
                    </li>

                    <li class="">
                        <a href="<~.AppUrl~>settings/profile/rest_password"><~i18n .Lang "auth.rest_password"~></a>
                    </li>



                    <li class="cell last">
                    </li>
                </ul>
            </div>
    	</div>
        <div class="col-md-9">
            <div class="box">
                <div class="cell first breadcrumb">
                    <a href="<~.AppUrl~>"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href=""><~i18n .Lang "auth.user_profile"~></a>
                </div>
                <div class="cell last slim">
                    <~if .flash.NeedActive~>
                    <div class="alert alert-info">
                        <h4><~i18n .Lang "auth.need_active"~></h4>
                        <~i18n .Lang "auth.need_active_message"~>
                    </div>
                    <~else if .flash.RegSuccess~>
                    <div class="alert alert-success">
                        <h4><~i18n .Lang "auth.register_success"~></h4>
                        <~i18n .Lang "auth.register_success_message"~>
                    </div>
                    <~else if .flash.ProfileSave~>
                    <div class="alert alert-success">
                        <~i18n .Lang "auth.profile_saved"~>
                    </div>
                    <~else if .flash.PasswordSave~>
                    <div class="alert alert-success">
                        <~i18n .Lang "auth.password_changed"~>
                    </div>
                    <~else if .flash.ConnectSuccess~>
                    <div class="alert alert-success">
                        <~i18n .Lang "auth.sign_connect_success_to" .flash.ConnectSuccess~>
                    </div>
                    <~else if .flash.ConnectFailed~>
                    <div class="alert alert-success">
                        <~i18n .Lang "auth.sign_connect_error_to" .flash.ConnectFailed~>
                    </div>
                    <~end~>

                    <form method="POST" action="<~.AppUrl~>settings/profile">
                        <~.xsrf_html~><~.once_html~>
                  
                        <~template "settings/nickname.html" .~>

                        <~template "settings/email.html" .~>
                              
             
                        <~template "settings/avatar.html" .~>
                   
                        <~template "settings/company.html" .~>
             
                        <~template "settings/social.html" .~>
             

                    </form>
                      <~template "settings/reset_password.html" .~>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
	</div>
</div>
<script type="text/javascript">
    (function($){
        $(document).on("click", "#verify-mail-send", function(){
            var $btn = $(this);
            $btn.button("loading");
            $.post("<~.AppUrl~>settings/profile", {action:"send-verify-email"}, function(data){
            });
        });
    })(jQuery);
</script>
<~end~>