
    <h3 class="underline"><~i18n .Lang "auth.reset_password"~></h3>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="<~.AppUrl~>settings/profile">
                <~.xsrf_html~><~.once_html~>

                <~template "base/form/fields.html" .PasswordFormSets~>

                <div class="form-group">
                    <input type="hidden" name="action" value="change-password">
                    <button type="submit" class="btn btn-primary"><~i18n .Lang "auth.change_password"~>&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
                </div>
            </form>
        </div>
    </div>


