

	<body id="front">
	
		<noscript><~i18n .Lang "enable_js_prompt"~></noscript>
		<div id="wrapper">
			<~template "base/navbar.html" .~>
			<div id="main" class="container">
				

				 
		    </div>


		<~template "/trade/handlebars/application.html" .~>	
		<~template "/trade/handlebars/navbar.html" .~>			

		<~template "/trade/handlebars/hold.html" .~>				
		<~template "/trade/handlebars/index.html" .~>
		<~template "/trade/handlebars/login.html" .~>
		<~template "/trade/handlebars/indice.html" .~>
	
			
		<~template "/trade/handlebars/pagination.html" .~>
	
		<~template "/trade/handlebars/customer.html" .~>	
		<~template "/trade/handlebars/chat.html" .~>				
		<~template "/trade/handlebars/analyst.html" .~>		
		<~template "/trade/handlebars/search.html" .~>					
		<~template "/trade/handlebars/price.html" .~>					
		<~template "/trade/handlebars/contract.html" .~>					
		<~template "/trade/handlebars/match.html" .~>					
	

	</body>

