 
<script type="text/x-handlebars" data-template-name="top" >        
<div class="top">
    <div class="topNav" id="topNav"><div class="topNav2"><div class="navBox">
        <div class="navIndexBg"><div class="navIL"></div><div class="navIL navIR"></div><div class="navIM"></div></div>
        <div class="navMain" id="navMain">
            <!-- 主导航放这里 -->
            <div class="navIndex" id="navIndex">
                <ul>
                    <li><a href="/" title="官网首页" class="nav4"  onclick="pgvSendClick({hottag:'nav.first.index'});">官网首页</a></li>
                    <li><a href="/news/" title="新闻活动"  onclick="pgvSendClick({hottag:'nav.first.news'});">新闻活动</a></li>
                    <li><a href="/intro/" title="虚拟货币介绍"  onclick="pgvSendClick({hottag:'nav.first.gameInfos'});">虚拟货币介绍</a></li>
                    <li id="nav1"><a href="/guide/" target="_blank" title="游戏引导"  onclick="pgvSendClick({hottag:'nav.first.guide'});">游戏引导</a></li>
                    <li><a href="/download.shtml" title="排名查询"  onclick="pgvSendClick({hottag:'nav.first.download'});">排名查询</a></li>
                    <li><a href="http://age.qq.com/act/a20120517points/" target="_blank" title="玩家社区"  onclick="pgvSendClick({hottag:'nav.first.community'});">玩家社区</a></li>
                    <li>自助服务</li>
                    <li>腾讯客服</li>
                </ul>
            </div>
            <div class="navSub" id="navSub">
                <dl id="nav2">
                    <dt>新闻活动</dt>
                    <dd><a href="/webplat/info/news_version3/1171/1237/1239/m7426/list_1.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navA1'});">新闻中心</a></dd>
                    <dd><a href="/web201408/act.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navA2'});">活动专区</a></dd>
                </dl>
                <dl>
                    <dt>游戏资料</dt>
                    <dd><a href="/web201408/gameinfo/info_1_1.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navB1'});">游戏介绍</a></dd>
                    <dd><a href="/web201408/gameinfo/info_3_1.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navB2'});">系统介绍</a></dd>
                    <dd><a href="/act/a20140825special/" title='' target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navB3'});">特色玩法</a></dd>
                    <dd><a href="javascript:alert('敬请期待！')" title=''  onclick="pgvSendClick({hottag:'nav.sub.navB4'});">上古百科</a></dd>
                    <dd><a href="http://age.qq.com/cp/a20150504video/index.shtml" title='' target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navB5'});">视频中心</a></dd>
                </dl>
                <dl id='nav1'>
                    <dt>游戏引导</dt>
                    <dd><a href="/cp/a20141008xszt/index.htm" title='' target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navC1'});">新手指南</a></dd>
                    <dd><a href="http://age.qq.com/act/a20120625race/" target="_blank" title=''  onclick="pgvSendClick({hottag:'nav.sub.navC2'});">种族介绍</a></dd>
                    <dd><a href="/web201408/gameinfo/info_3_1.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navC3'});">职业天赋</a></dd>
                    <dd><a href="http://age.qq.com/act/a20140320world/" target="_blank" title=''  onclick="pgvSendClick({hottag:'nav.sub.navC4'});">世界观</a></dd>                    
                </dl>
                <dl>
                    <dt>下载中心</dt>
                    <dd><a href="/download.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navD1'});">每日排行榜</a></dd>
                    <dd><a href="/web201408/download2.shtml" title=''  onclick="pgvSendClick({hottag:'nav.sub.navD2'});">每周排行榜</a></dd>
                    <dd><a href="/web201408/media.shtml#1" title=''  onclick="pgvSendClick({hottag:'nav.sub.navD3'});">每月排行榜</a></dd>
                </dl>
                <dl>
                    <dt>玩家社区</dt>
                    <dd><a href="http://age.qq.com/act/a20120517points/" title='' target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navE1'});">积分中心</a></dd>
                    <dd><a href="http://age.qq.com/act/a20120731interact/" title=''  target="_blank" onclick="pgvSendClick({hottag:'nav.sub.navE2'});">官方互动</a></dd>
                    <dd><a href="http://age.gamebbs.qq.com/forum.php" target="_blank" title=''  onclick="pgvSendClick({hottag:'nav.sub.navE3'});">官方论坛</a></dd>
                    <dd><a href="http://age.qq.com/cp/a20141219ghzq/" target="_blank" title=''  onclick="pgvSendClick({hottag:'nav.sub.navE4'});">公会专区</a></dd>
                </dl>
                <dl>
                    <dt>自助服务</dt>
                    <dd><a href="https://aq.qq.com/cn2/manage/my_mb" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navF1'});">密保工具</a></dd>
                    <dd><a href="http://age.qq.com/act/a20140324safe/" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navF2'});">二级密码</a></dd>
                    <dd><a href="https://aq.qq.com/cn2/findpsw/pc/pc_find_pwd_input_account" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navF3'});">密码找回</a></dd>
                
                </dl>
                <dl>
                    <dt>腾讯客服</dt>
                    <dd><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&f=1&ty=1&ap=000011:400791:|m:11|f:Gage1" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navG1'});">在线客服</a></dd>
                    <dd><a href="http://kf.qq.com/product/AGE.html" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navG2'});">客服专区</a></dd>
                    <dd><a href="http://game.qq.com/contract.shtml" title="" target="_blank"  onclick="pgvSendClick({hottag:'nav.sub.navG3'});">用户协议</a></dd>

                </dl>
            </div>
            <!-- 二级放这里 end -->        
        </div>
    </div></div></div>
    <div class="logoBox" id="logoBox"><h1 id="logo" class="logoPNG">上古世纪官方网站</h1></div>
    <div class="topBg" >
     <!--
        <div  style= "margin-top: 55px;margin-left: 400px;">
          <embed src="http://yy.com/s/14075572/mini.swf" quality="high" width="600" height="450" align="middle" allowScriptAccess="never" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
        --> 

    <!-- -->


    <!-- -->

    </div>
</script>

<script type="text/x-handlebars" data-template-name="navbar" >        
<div class="">
    <div class="container" data-toggle="">
        <div class="row">
            <div class="">
                <~if .IsDocs~>
                <span class="visible-xs">
                    <a id="docs-collapse-btn" class="navbar-btn" data-toggle="jpanel-menu" data-target="#docs-collapse">
                        <span class="sr-only">Toggle docs menu</span>
                        <i class="icon icon-angle-right"></i>
                    </a>
                </span>
                <~end~>
                <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>


            </div>
           <!--
            {{partial "navbar-item2"}}
            -->
        </div>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="navbar-item2" >     


<div id="content" class="col-md-12">
        
        <div class="sub_box">
            <div class="web_logo fit cell breadcrumb nav-cats first">


            </div>
       
        </div>    
   
</div>    

</script>


<script type="text/x-handlebars" data-template-name="navbar-item3" >     


<div id="content" class="col-md-12">
        
        <div class="sub_box">
            <div class="web_logo fit cell breadcrumb nav-cats first">
                  <!--              
                <span class="cat">{{#link-to 'customer'}}<i class="fa fa-money fa-fw"></i> <l><~i18n .Lang "indice.title"~></l>{{/link-to}}</span>

                <span class="cat"> {{#link-to 'contract'}}<i class="fa fa-money fa-fw"></i><l> <~i18n .Lang "contract.title"~></l>{{/link-to}}</span>
                <span class="cat">{{#link-to 'analyst'}}<i class="fa fa-trophy fa-fw"></i><l> <~i18n .Lang "analyst.title"~></l>{{/link-to}}</span>
                -->

            </div>
        <!--    
        <div class="cell nav-cats last">
            -->                    

   
</div>    

</script>


<script type="text/x-handlebars" data-template-name="navbar-item">

    <div class="panel panel-default">
        <div class="panel-heading">


            <div class="collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav">
                     <li>                            
                         {{#link-to 'customer'}}<i class="fa fa-money fa-fw"></i> <l><~i18n .Lang "indice.title"~></l>{{/link-to}}
                    </li> 
                     <li>                            
                         {{#link-to 'contract'}}<i class="fa fa-money fa-fw"></i><l> <~i18n .Lang "contract.title"~></l>{{/link-to}}
                    </li> 
                    <li >                            
                         {{#link-to 'analyst'}}<i class="fa fa-trophy fa-fw"></i><l> <~i18n .Lang "analyst.title"~></l>{{/link-to}}
                    </li>  
                </ul>


            </div>
        
        
        </div>



    </div> 

</script> 

<script type="text/x-handlebars" data-template-name="profile" >    

</script>