

<script type="text/x-handlebars" data-template-name="index2">
    <div class="main-header" id="info">
        <div class="container" >


            <div class="row">
                <div class="col-md-12">
                        <div style='float:right'>
                        <!--
                             {{render 'welcome.login'}}
                        -->
                            

                        </div>  
                        <!--
                        {{partial "focusBox"}}
                        -->
                </div>

            </div>


            <div class="row">
                <div class="col-md-12">
                    
                        <div class="box">
                        <div class="cell breadcrumb first">
                        <i class="icon-level-up"></i> Recent Result
                        </div>

                        <div class="post-list">

                        </div>

                        <div class="cell last low">
                        <i class="icon-rss-sign color-orange"></i> <div id="result"></div>
                       
                        </div>
                        </div>


                            

                    
                </div>           
            </div>           


    </div>
    <!--
    {{partial "intro"}}
    {{partial "feature"}}
    {{partial "friendlink"}}    
    -->
</script>
<script type="text/x-handlebars" data-template-name="focusBox">
                    <div class='focusBox'>
                
                        <ul class="pic" >
                            <li style='background: #39A4DC url(/static/img/home/idea.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>

                            <li style='background: #39A4DC url(/static/img/home/idea_2.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>

                            <li style='background: #39A4DC url(/static/img/home/idea_3.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>


                                    <li><a href="#" target="_blank">
                                        <img src="http://chart.finance.yahoo.com/z?t=1y&s=%5EDJI&c=399001.SZ,000001.SS"></a></li>


                            <li>
       
                            </li>

                        </ul>
                        <div class="txt-bg"></div>
                        <div class="txt">
                            <ul>
                                <li style="bottom: 0px;"><a href="#">外汇</a></li>
                                <li style="bottom: -36px;"><a href="#">全球股市指数</a></li>
                                <li style="bottom: -36px;"><a href="#">电子货币</a></li>
                                <li style="bottom: -36px;"><a href="#">电子货币2</a></li>                     
     
                            </ul>
                        </div>

                        <ul class="num">
                            <li class="on"><a>1</a><span></span></li>
                            <li class=""><a>2</a><span></span></li>
                            <li class=""><a>3</a><span></span></li>
                            <li class=""><a>4</a><span></span></li>
                          
                        </ul>
                    </div>
</script>
<script type="text/x-handlebars" data-template-name="container_head">

</script>
<script type="text/x-handlebars" data-template-name="container_footer">

</script>
<script type="text/x-handlebars" data-template-name="friendlink">

</script>

<script type="text/x-handlebars" data-template-name="feature">
 
</script>
<script type="text/x-handlebars" data-template-name="intro">
  
</script>