.symbol0{
	background: url("/static/img/lol/symbol0.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}
.symbol1{
	background: url("/static/img/lol/symbol1.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}
.symbol2{
	background: url("/static/img/lol/symbol2.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}
.symbol3{
	background: url("/static/img/lol/symbol3.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}
.symbol4{
	background: url("/static/img/lol/symbol4.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}
.symbol5{
	background: url("/static/img/lol/symbol5.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}

.symbol6{
	background: url("/static/img/lol/symbol6.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}

.symbol7{
	background: url("/static/img/lol/symbol7.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}

.symbol8{
	background: url("/static/img/lol/symbol8.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
}

.symbol9{
	background: url("/static/img/lol/symbol9.jpg") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	font-size: 20px;
	--border-color : black;
	--border: 30px;
}

.dxd{
	background: url("/static/img/lol/dxd.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}

.dxx{
	background: url("/static/img/lol/dxx.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}
.dsd{
	background: url("/static/img/lol/dsd.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}
.dss{
	background: url("/static/img/lol/dss.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}

.zbz{
	background: url("/static/img/lol/zbz.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}
.zbb{
	background: url("/static/img/lol/zbb.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}
.ywy{
	background: url("/static/img/lol/ywy.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}

.yww{
	background: url("/static/img/lol/yww.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}

.jyj{
	background: url("/static/img/lol/jyj.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}


.jyy{
	background: url("/static/img/lol/jyy.png") no-repeat left center;	
	 background-size:100% 100%;
   -moz-background-size:100% 100%;
   -webkit-background-size:100% 100%;
   -o-background-size:100% 100%;
	color :white;
	
}



betbtn:hover, betbtn:focus {
    --color: #f04c5c;
    background-color: transparent;
}
betbtn:hover, betbtn:focus {
   color :red;
    text-decoration: none;
     background-color: transparent;
}
betbtn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color :red;
}
betbtn{
    display: inline-block;
     padding: 6px 12px; 
    /* margin-bottom: 0; */
     font-size: 16px; 
    /* font-weight: normal; */
    /* line-height: 1.428571429; */
    /* text-align: center; */
    /* white-space: nowrap; */
    /* vertical-align: middle; */
    cursor: pointer;
    /* background-image: none; */
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

betbtn{
    margin: 0em;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

/*
@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}
*/
[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}
.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 
* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

.bet .nav {
  list-style: none;
  text-align: center;
}
.bet .nav li {
  position: relative;
  display: inline-block;
  margin-right: -2px;
}
.bet .nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.bet .nav a:link, .nav a:visited {
    display: block;
    text-decoration: none;
    /*
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    */
    color: #a7a7a7;
    margin: 6px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
   -- border: solid 1px transparent;

    color : #DADAD9

}
.bet .nav a:before {
  content: "";
  display: block;  
  --background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}
.bet .nav a:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}
.bet .nav a:hover {
  text-decoration: none;
  color: white;
 -- background: #f5f5f5;
}

/*
http://www.codefans.net/jscss/code/5086.shtml
*/
.pl5{
	padding-left: 5px
}
.noGap{
margin: 0px;
    padding: 0px;

}
.betText{
    font-size: 16px;
    margin: 0px;
    padding-left: 5px;

}
.fs12 {
	font-size: 12px
}
.fs20 {
	font-size: 20px
}



.c25 {
	border-radius: 50%; 
	height: 25px; 
	width: 25px; 
}
.c35 {
	border-radius: 50%; 
	height: 35px; 
	width: 35px; 
}
.c45 {
	border-radius: 50%; 
	height: 45px; 
	width: 45px; 
	background-color: transparent;
}

.c50 {
 border-radius: 50%;   
     height: 50px; 
     width: 50px; 
background-color: transparent;
}


.transparent {
background-color: transparent;
}
.white{
color :white;
}
.lolbg{
background: url("/static/img/lol/bg.bmp") repeat;

}

.info{
    margin-top: 25px;
    padding-right: 35px;
    padding-left: 35px;

}

.home_register {
    position: relative;
    z-index: 4;
    width: 300px;
    height: 135px;
    margin-top: 30px;
    margin-right: 40px;
    float: right;
    background: rgba(10,10,10,.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
}
.bet_box {
    position: relative;
    z-index: 4;
    width: 300px;
    margin-right: 40px;
    float: right;
    background: rgba(10,10,10,.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
}

 embed,object {
    display: block;
    margin: 20px auto 0px auto;
    -moz-box-shadow: 0px 0px 7px #222;
    -webkit-box-shadow: 0px 0px 7px #222;
    box-shadow: 0px 0px 7px #222;
    border: 8px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}