.row {
   margin-right: 0px; 
   margin-left: 0px; 
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px; 
   padding-left: 0px; 
}
.panel-body {
  padding: 2px;
}
.match-background{
  --background-color: wheat;
  border: 2px;
}

.panel-heading {
  padding: 0px 5px; 
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
   padding: 1px 5px; */
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.main-header{
  margin-bottom: 30px;

}
.input-prepend {
  /* width: 32px; */
  /* background-color: #fff; */
  position: absolute;
  /* height: 26px; */
  --padding-left: 12px;
  padding-top: 2px;
}
/*
input, textarea, keygen, select, button {
  margin: 0em;
  font: normal normal normal 13.3333330154419px/normal Arial;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}
*/
.ml30{
margin-left: 30px;

}
.ml20{
margin-left: 20px;

}
#main {
  margin-top: 10px;
}
ul.nav.navbar-nav li .active {
  color: #D34000;
  background-color: transparent;
}

.panel {
  margin-bottom: 2px;

}
.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
 
}
.mt10{
margin-top: 10px;s

}
/*---trade

#market_trades {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 280px;
  height: 373px;
  min-height: 373px;
  z-index: 999;
}
#market_list {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 280px;
  height: 210px;
  z-index: 999;
}
#market_list .panel {
  width: 280px;
  height: 210px;
}
.panel {
  margin-bottom: 20px;
  background-color: #151515;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

*/

.table-sf{
  font-size:  10px;
}

.container {
   padding-right: 0px; 
   padding-left: 0px; 
   margin-right: auto; 
   margin-left: auto; 
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 0px; /*was 18 px*/
 -- border: 1px solid transparent;
}

#main {
   margin-top: 0px;  /*was 30 px*/
}
/*---- login panel */


.mb0 {
    margin-bottom: 10px;
}

.banner_bg .banner .dzing_box {
  width: 230px;
  height: 253px;
  right: 0;
  top: -383px;
  padding: 10px 20px;
  margin-top: 42px;
  position: absolute;
  background: none repeat scroll 0 0 rgba(17, 17, 17, 0.45);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66111111, endColorstr=#66111111);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.dzing_box_account {
  --height: 53px;
  height: 23px;
  border-bottom: 1px solid #fff;
  padding: 1px 0;
  color: #fff;
}
.dzing_box_account p {
  margin: 0px;
  padding: 0px;
  width: 189px;
}
.dzing_box_account p a {
  color: #fff;
  font-size: 13px;
}

.dzing_box_xq {
  height: auto;
  color: #aaa;
  font-size: 13px;
  line-height: 25px;
}
.dzing_box_xq p em {
  margin-right: 5px;
}
em {
  font-style: normal;
}
.dzing_box_xq p span.a1 {
  width: 112px;
  height: 19px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.dzing_box_account img {
  width: 50px;
  height: 50px;
  float: left;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  vertical-align: top;
}

.dzing_box_account p.a1 {
  --margin-top: 27px;
  margin-left: 40px;
}
.dzing_box_account p {
  margin: 0px;
  padding: 0px;
  width: 189px;
}

.dzing_box_account p.a1 a {
  float: right;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}
.dzing_box_account p a {
  color: #fff;
  font-size: 13px;
}
.lightorange {
  color: #ff9900;
}

.lightred {
  color: #e33d3d;
}

.lightgreen {
  color: #5cc07b;
}

.dzing_box_xq p i {
  width: 12px;
  height: 12px;
  background: #b9b9b9;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  display: inline-block;
  line-height: 12px;
  text-align: center;
  color: #fff;
  margin-right: 2px;
  font-style: normal;
  font-size: 10px;
  font-family: Tahoma, Geneva, sans-serif;
}

.dzing_box_xq p i a {
  display: inline-block;
  width: 12px;
  height: 12px;
 -- color: #fff;
}

.home_register .hd {
  padding: 0 20px;
  color: #FFF;
  height: 32px;
}
#alert{
 margin-top: 2px;
}
/*
#egretCanvas {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);     
}
#gameDiv{
width :384px;
height :640px;

}
*/

.result.win, .result.lose {
  padding: 2px 0px;
  --border-top: 1px solid #CCC;
  border-bottom: 1px solid #AAA;
  font-size: 14px;
}
.result div {
  display: inline-block;
}
.who, .when, .compare, .profit, .payout {
  width: 100px;
}
.commontime{
    width: 160px;
}
.left-window{
  height :480px ;
}

.btn:hover, .btn:focus {
color: #f04c5c;
  background-color: transparent;
}



#front .container {
  max-width: 1000px;
}

.game_title {
    /* background-image: url('/static/img/home/header.png'); */
    background: url(/static/img/home/header.png) no-repeat scroll center top transparent;
}
.game_logo {
    /* background-image: url('/static/img/home/header.png'); */
    background: url(/static/img/home/logo.png) no-repeat scroll center top transparent;
}
.bg_top {
    /* background-image: url('/static/img/home/header.png'); */
    background: url(/static/img/home/bg_top.png) no-repeat scroll center top transparent;
}
.bg_bottom {
    /* background-image: url('/static/img/home/header.png'); */
    background: url(/static/img/home/bg_bottom.jpg) no-repeat scroll center top transparent;
}
.home1600_top{
   background: url(/static/img/home/home1600_top.jpg) no-repeat scroll center top transparent;
}
.home1600_bottom{
   background: url(/static/img/home/home1600_bottom.jpg) no-repeat scroll center top transparent;
}
.game_cell {
  --  background-image: url('/static/img/game/title.jpg');
 --padding: 10px 10px;
 --   border-top: 2px solid #fff;
    border-bottom: 1px solid #e2e2e2;   
}


.game_bg{
background: url(/static/img/home/home.jpg) no-repeat scroll top center black;

}

/*
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .game{  
    -moz-transform:scale(0.9,0.9);  
    -webkit-transform:scale(0.9,0.9);  
    -o-transform:scale(0.9,0.9);  
  }  

  .cell {
  padding: 1px 1px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #e2e2e2;
  }
}
*/
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .home11 {
      width: 100%;
      background-attachment: fixed;
      background-clip: border-box;
      background-color: transparent;
      background-origin: padding-box;
      background-position: center center;
      background-repeat: repeat;
      background-size: cover;
      background-image: url("/static/img/home/background.jpg");
  }
  .game_body {
    background-image: url('/static/img/home/b4.png');
      
  }

}

.web_bg {
    border-top: 0px;
    border-bottom: 0px;
    background: url(/static/img/home/bg.jpg) no-repeat scroll center top transparent;
}

.web_logo {
    border-top: 0px;
    border-bottom: 0px;
    background: url(/static/img/home/web_logo.png) no-repeat scroll center top transparent;
}

.web_frame {
    border-top: 0px;
    border-bottom: 0px;
    background: url(/static/img/home/web_frame.png) no-repeat scroll center top transparent;
}


.fit {
    border-top: 0px;
    border-bottom: 0px;

}

.sub_box {
    --background-color: #fafafa;
    --border-bottom: 1px solid #e2e2e2;
   -- border-radius: 3px;
    -webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.20);
   -- box-shadow: 1px 0 4px rgba(0, 0, 0, 0.20);
   margin-bottom: 2px;
}

.mt20{
margin-top: 20px;

}


.h600{
height: 600px;

}
.h580{
height: 580px;

}
.h550{
height: 550px;

}
.h500{
height: 500px;

}
.h480{
height: 480px;

}

.h450{
height: 450px;

}
.h500{
height: 500px;

}
.h280{
height: 280px;

}

.videoBox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
   -- height: 600px;
    z-index: 3;
    overflow: hidden;
}

.mt30{
  margin-top: 30px;
}

.ml50{
  margin-left: 50px;
}


.mt20{
  margin-top: 20px;
}

.home_register {
    position: relative;
    z-index: 4;
    width: 300px;
    height: 235px;
    margin-top: 30px;
    margin-right: 40px;
    float: right;
    background: rgba(10,10,10,.55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
}


.bet_box {
    position: relative;
    z-index: 4;
    width: 300px;
  --  height: 185px;
  --  margin-top: 30px;
    margin-right: 40px;
    float: right;
    background: rgba(10,10,10,.55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');
}

.bet_box_header {
    height: 23px;
    border-bottom: 1px solid #fff;
    padding: 1px 0;
    color: #fff;
}


    /* css 重置 */
    *{list-style:none; }
   

    /* 本例子css */
    .stb{ width:300px; border:1px solid #ddd; text-align:left;  }
    .stb .hd{ height:30px; line-height:30px; background:#f4f4f4; padding:5px;   border-bottom:1px solid #ddd;  position:relative; }
    .stb .hd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
    .stb .hd ul li{ float:left; padding:0 5px; cursor:pointer;  }
    .stb .hd ul li.on{ height:30px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
    .stb .bd ul{ padding:15px;  zoom:1;  }
    .stb .bd li{ --height:24px; line-height:24px;   }
    .stb .bd li .date{ float:right; color:#999;  }

    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .stb .arrow{  position:absolute; right:10px; top:0; }
    .stb .arrow a{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
       cursor:pointer; background:url("../image/arrow.png") 0 0 no-repeat; }
    .stb .arrow .next{ background-position:0 -50px;  }
    .stb .arrow .prevStop{ background-position:-60px 0; }
    .stb .arrow .nextStop{ background-position:-60px -50px; }

a {
    text-decoration: none;
    color: #FFF;
}


.person_info{

  margin: auto;
    position: relative;
    z-index: 4;
    --width: 300px;
    --height: 235px;
    --margin-top: 30px;
  --  margin-right: 40px;
    float: right;
--    background: rgba(10,10,10,.55);
background: url("/static/img/lol/frame_bg.jpg") repeat; 
}


.person_info .hd {
  padding: 0 20px;
  color: #FFF;
  height: 32px;
}

.person_info .bd {
    padding: 20px;
}

#clock-container {
    width: 20px;
    height: 20px;
}
#clock-container > svg {
    width: 100%;
    display: block;
}
.h50 {
  height: 50px;
}


.bg_green {

  background-color: green;
}

.align_r{
  text-align: right;
}
.align_c{
  text-align: center;
}
.align_l{
  text-align: left;
}

.tr_top_red{
  border-top:2px 
  solid #cc0000; 
  height:34px;"
}

.home_register .bd {
    padding: 10px;
}