<form id="dropdown-login" class="dropdown-menu cell" action="<~.AppUrl~>login" method="POST">
    <~.xsrf_html~><~.once_html~>
    <div class="alert alert-info alert-small">
        <~i18n .Lang "auth.login_your_account"~>
    </div>
    <div class="form-group">
        <input class="form-control" name="UserName" type="text" placeholder="<~i18n .Lang "auth.login_username"~> / <~i18n .Lang "auth.login_email"~>" value="">
    </div>
    <div class="form-group">
        <input class="form-control" name="Password" type="password" placeholder="<~i18n .Lang "auth.login_password"~>">
    </div>
    <p>
        <label>
            <input type="hidden" name="Remember" value="0">
            <button type="button" data-toggle="button" data-name="Remember" value="0" class="btn btn-default btn-xs btn-checked"><i class="fa fa-check-square"></i></button><~i18n .Lang "auth.login_remember_me"~>
        </label>
        <span class="pull-right"><a href="<~$.AppUrl~>forgot"><i class="icon-question-sign"></i> <~i18n .Lang "auth.forgot_password"~></a></span>
    </p>
    <button class="btn btn-primary btn-block" type="submit"><~i18n .Lang "auth.login"~></button>
    <div class="auth-socials">
        <a href="<~.AppUrl~>login/google" class="icon-google-plus google"></a>
        <a href="<~.AppUrl~>login/github" class="icon-github github"></a>
        <!-- <a href="<~.AppUrl~>login/weibo" class="icon-weibo weibo"></a> -->
        <!-- <a href="<~.AppUrl~>login/qq" class="icon-qq-round qq"></a> -->
    </div>
</form>