
	<body id="front">
	  
		<noscript><~i18n .Lang "enable_js_prompt"~></noscript>
		
		<div id="wrapper" class="" style="background-color: black;">
		
			<div id="main" class="">
				<~template "base/navbar.html" .~>
				 	
				<div id="main" class="container">
					

					 
			    </div>
			</div>


			<~template "/video/handlebars/application.html" .~>	
			<~template "/video/handlebars/navbar.html" .~>	
			<~template "/video/handlebars/index.html" .~>
			<~template "/video/handlebars/login.html" .~>
			<~template "/video/handlebars/pagination.html" .~>
			<~template "/video/handlebars/search.html" .~>	
		</div>				
					
					
	
			<script type="text/javascript" src="/static_source/js/aaa.js">  </script>
	</body>

