 <div id="pxs_container" class="pxs_container">
      <div class="pxs_bg">
        <div class="pxs_bg1"></div>
        <div class="pxs_bg2"></div>
        <div class="pxs_bg3"></div>
      </div>
      <div class="pxs_loading">Loading images...</div>
      <div class="pxs_slider_wrapper">
        <ul class="pxs_slider">
          <li><img src="static/img/video/0.jpg" alt="First Image" / class="images image0"><span class="channel0"></span></li>
          <li><img src="static/img/video/1.jpg" alt="Second Image"/ class="images image1"><span class="channel1"></span></li>
          <li><img src="static/img/video/2.jpg" alt="Third Image" / class="images image2"><span class="channel2"></span></li>
          <li><img src="static/img/video/3.jpg" alt="Forth Image" / class="images image3"><span class="channel3"></span></li>
          <li><img src="static/img/video/4.jpg" alt="Fifth Image" / class="images image4"><span class="channel4"></span></li>
          <li><img src="static/img/video/5.jpg" alt="Sixth Image" / class="images image5"><span class="channel5"></span></li>
        </ul>
        <div class="pxs_navigation">
          <span class="pxs_next"></span>
          <span class="pxs_prev"></span>
        </div>
        <ul class="pxs_thumbnails">
          <li><img src="static/img/video/thumbs/0.jpg" alt="First Image" /></li>
          <li><img src="static/img/video/thumbs/1.jpg" alt="Second Image" /></li>
          <li><img src="static/img/video/thumbs/2.jpg" alt="Third Image" /></li>
          <li><img src="static/img/video/thumbs/3.jpg" alt="Forth Image" /></li>
          <li><img src="static/img/video/thumbs/4.jpg" alt="Fifth Image" /></li>
          <li><img src="static/img/video/thumbs/5.jpg" alt="Sixth Image" /></li>
        </ul>
      </div>
 </div>