
<script type="text/javascript">
        var config = {
            coinunit : 'LTC',
            uid :<~.User.Id~>            
        };
       
 </script>
	<body id="front">
		
		<noscript><~i18n .Lang "enable_js_prompt"~></noscript>
		<div id="wrapper">
			<~template "base/navbar.html" .~>
			
				
			<div id="main" class="container">
				<div class="container">

					<~template "egame/base/content.html" .~>
					<div class="row">
					   <div class="col-md-12">
	

							<div class="col-md-10">
								<script> var document_class = "GameApp";</script>
								<div style="position:relative;" id="gameDiv"></div>
							</div>
							<div class="col-md-1">



							</div>

						</div>
					</div>
						
				</div>	
				<div class="container">
				<div class="btn-group tabbar" data-toggle="buttons-radio" style="width:100%;">
				        <button class="btn active green" data-toggle="tab" data-target="#all">所有投注</button>
				        <button class="btn" data-toggle="tab" data-target="#me">我的投注 </button>
				        <button class="btn" data-toggle="tab" data-target="#chat">聊天 </button>              
				        <button class="btn" data-toggle="tab" data-target="#static">统计</button>
				        <button class="btn" data-toggle="tab" data-target="#fair">公平</button>
				        <button class="btn" data-toggle="tab" data-target="#account">我的帐号</button>

				        <!--<button class="btn" data-toggle="tab" data-target="#charts">图表</button>-->
				    </div>

				    <div class="tab-content">
				    	<div class="tab-pane active" id="all">
							<div class="row">
								<div class="col-md-12">								    
							        <div class="box">
								        <div class="cell breadcrumb first">
								       		<div class="result">
												<div class="who">All NickName</div>
												<div class="who text-right">Profit</div>
												<div class="who text-right">Stake</div>
												<div class="who text-center">Lucky</div>
												<div class="commontime text-center">Date</div>
											</div>

								        </div>

								        <div class="cell last low">
								        	<i class="icon-rss-sign color-orange"></i> <div class="all"></div>
								       
								        </div>
							        </div>	
								</div>           
							</div> 
				    	</div>

				    	<div class="tab-pane fade" id="me">
							<div class="row">
								<div class="col-md-12">								    
							        <div class="box">
								        <div class="cell breadcrumb first">
								        
										<div class="result">
											<div class="who">NickName</div>
											<div class="who text-right">Profit</div>
											<div class="who text-right">Stake</div>
											<div class="who text-center">Lucky</div>
											<div class="commontime text-center">Date</div>
										</div>



								        </div>

								        <div class="cell last low">
								        	<i class="icon-rss-sign color-orange"></i> <div class="my"></div>
								       
								        </div>

							        </div>	
								</div>           
							</div> 
				    	</div>

				    	<div class="tab-pane fade" id="static">
							<div class="row">
								<div class="col-md-12">		
									<div class="col-md-4">		

									<table class="table table-bordered">
			                            <tbody>
			                                <tr>
			                                    <td class="">0</td>
			                                    <td class="">1</td>
			                                    <td class="">2</td>
			                                    <td class="">3</td>
			                                    <td class="">4</td>
			                                    <td class="">5</td>
			                                    <td class="">6</td>
			                                    <td class="">7</td>	
			                                    <td class="">8</td>
			                                    <td class="">9</td>			                                    	                           

			                                  </tr>
			                                <tr>
			                                   <td class="static0"></td>
			                                   <td class="static1"></td>
			                                   <td class="static2"></td>
			                                   <td class="static3"></td>
			                                   <td class="static4"></td>
			                                   <td class="static5"></td>
			                                   <td class="static6"></td>
			                                   <td class="static7"></td>
			                                   <td class="static8"></td>
			                                   <td class="static9"></td>
			                                   
			                                </tr>
			                            </tbody>
			                        </table>
			                        </div>    

							        
								</div>           
							</div> 
				    	</div>




				   
				    </div>


				    
					<div id="ember"> </div>		

				</div>	

				<div class="wrapper-push"></div>
			</div>
			

				 
		</div>
	
	

	</body>



		<~template "/egame/handlebars/application.html" .~>	
		<~template "/egame/handlebars/navbar.html" .~>					
		<~template "/egame/handlebars/index.html" .~>
		<~template "/egame/handlebars/login.html" .~>			
		<~template "/egame/handlebars/pagination.html" .~>
		<~template "/egame/handlebars/search.html" .~>
		<~template "/egame/handlebars/contract.html" .~>
	