
<script type="text/javascript">
        var config = {
            coinunit : 'LTC',
            uid :<~.User.Id~>,            
            balance :<~.Balance~>            
        };
       
 </script>
	<body id="front">
		
		<noscript><~i18n .Lang "enable_js_prompt"~></noscript>
		<div id="wrapper" class="home11">
			<~template "base/navbar.html" .~>
			
				
			<div id="main" class="container">
			
			
					<~template "egame/base/content.html" .~>

				
				
				


				<div class="wrapper-push"></div>
			</div>
			

				 
		</div>
	
	

	</body>



