<head>
	<meta charset="utf-8">
	<title>Slot Game</title>
	<meta name="viewport"
	  content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no,target-densitydpi=device-dpi"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>

	<meta name="full-screen" content="true"/>
	<meta name="screen-orientation" content="portrait"/>
	<meta name="x5-fullscreen" content="true"/>
	<meta name="360-fullscreen" content="true"/>
	<base href="../" />
	<meta name="author" content="Unknown" />
	 <meta name="_xsrf" content="<~.xsrf_token~>" />
	<meta name="uid" content=<~.User.Id~> />
	<link rel="shortcut icon" href="/static/img/favicon.png" />
</head>
<!-- Stylesheets -->
<~compress_css "lib"~>
<~compress_css "app"~>
<~compress_css "trade"~>
<~str2html "<!--[if IE 7]>"~>
<~compress_css "ie7"~>
<~str2html "<![endif]-->"~>

<~compress_js "lib"~>


<~compress_js "validate"~>
<~compress_js "effect"~>




