<div id="contentBox" class="contentBox ">
		

		<div id="logo">
	<img src="http://tso-uk-website.cdn.ubi.com/sites/default/themes/siedler/images/common/text/gb-en/logo.png" alt="The Settlers Online" width="286" height="97">
</div>
		<form action="/api/user/register/" method="post" id="registerForm" class="validator validate-register ">
	<div id="registerTop"></div>
	<div id="register" class="uplay_optional">
		<script type="text/javascript">var errorRepeatMessageTitle = 'Please retype';
var errorRepeatMessageText = 'Your input does not match the previous entry.';
var errorTermsTitle = 'Confirmation needed';
var errorTermsText = 'Please confirm that you agree to the Terms of Use and the Privacy Policy.';
var errorPrivacyText = 'api_validate_privacy_text';
var errorPersonalText = 'api_validate_personal_text';
var errorGamerulesTitle = 'Game rules';
var errorGamerulesText = 'Please read and accept our game rules';
var errorPasswordMatchesUsernameTitle = 'Password not allowed';
var errorPasswordMatchesUsernameText = 'Your password must not be the same as your username, as it will be easy for other users to guess.';
</script><div id="registerHeader">
	</div>
<div id="registerFields">
	<input type="hidden" name="mode" value="uplay_optional" id="input_mode">
<input type="hidden" name="template" value="home11" id="input_template"><fieldset style="z-index: 90;">
	<input id="email" name="email" type="text" class="validate-ajax-email use-fast-api" value="">
	<span class="overlay">E-mail</span>
</fieldset><fieldset style="z-index: 89;">
	<input id="password" name="password" type="password" class="validate-ajax-password send-password use-fast-api" value="">
	<span class="overlay">Password</span>
</fieldset>


<fieldset style="z-index: 88;" id="ubiBirthdayContainer">
	<div id="ageSelection" class="dropdown scroll-10 scroll">
		<div>Age</div>
						<div class="scrollContainerTop"></div>
					<div class="scrollContainer" style="max-height: 250px;">
			<ul style="margin-top: 0px;">
				<li class="legend">Age</li>
									<li>
						01						<input type="hidden" value="1" id="input_">
					</li>
									<li>
						02						<input type="hidden" value="2" id="input_">
					</li>
									<li>
						03						<input type="hidden" value="3" id="input_">
					</li>
									<li>
						04						<input type="hidden" value="4" id="input_">
					</li>
									<li>
						05						<input type="hidden" value="5" id="input_">
					</li>
									<li>
						06						<input type="hidden" value="6" id="input_">
					</li>
									<li>
						07						<input type="hidden" value="7" id="input_">
					</li>
									<li>
						08						<input type="hidden" value="8" id="input_">
					</li>
									<li>
						09						<input type="hidden" value="9" id="input_">
					</li>
									<li>
						10						<input type="hidden" value="10" id="input_">
					</li>
									<li>
						11						<input type="hidden" value="11" id="input_">
					</li>
									<li>
						12						<input type="hidden" value="12" id="input_">
					</li>
									<li>
						13						<input type="hidden" value="13" id="input_">
					</li>
									<li>
						14						<input type="hidden" value="14" id="input_">
					</li>
									<li>
						15						<input type="hidden" value="15" id="input_">
					</li>
									<li>
						16						<input type="hidden" value="16" id="input_">
					</li>
									<li>
						17						<input type="hidden" value="17" id="input_">
					</li>
									<li>
						18						<input type="hidden" value="18" id="input_">
					</li>
									<li>
						19						<input type="hidden" value="19" id="input_">
					</li>
									<li>
						20						<input type="hidden" value="20" id="input_">
					</li>
									<li>
						21						<input type="hidden" value="21" id="input_">
					</li>
									<li>
						22						<input type="hidden" value="22" id="input_">
					</li>
									<li>
						23						<input type="hidden" value="23" id="input_">
					</li>
									<li>
						24						<input type="hidden" value="24" id="input_">
					</li>
									<li>
						25						<input type="hidden" value="25" id="input_">
					</li>
									<li>
						26						<input type="hidden" value="26" id="input_">
					</li>
									<li>
						27						<input type="hidden" value="27" id="input_">
					</li>
									<li>
						28						<input type="hidden" value="28" id="input_">
					</li>
									<li>
						29						<input type="hidden" value="29" id="input_">
					</li>
									<li>
						30						<input type="hidden" value="30" id="input_">
					</li>
									<li>
						31						<input type="hidden" value="31" id="input_">
					</li>
									<li>
						32						<input type="hidden" value="32" id="input_">
					</li>
									<li>
						33						<input type="hidden" value="33" id="input_">
					</li>
									<li>
						34						<input type="hidden" value="34" id="input_">
					</li>
									<li>
						35						<input type="hidden" value="35" id="input_">
					</li>
									<li>
						36						<input type="hidden" value="36" id="input_">
					</li>
									<li>
						37						<input type="hidden" value="37" id="input_">
					</li>
									<li>
						38						<input type="hidden" value="38" id="input_">
					</li>
									<li>
						39						<input type="hidden" value="39" id="input_">
					</li>
									<li>
						40						<input type="hidden" value="40" id="input_">
					</li>
									<li>
						41						<input type="hidden" value="41" id="input_">
					</li>
									<li>
						42						<input type="hidden" value="42" id="input_">
					</li>
									<li>
						43						<input type="hidden" value="43" id="input_">
					</li>
									<li>
						44						<input type="hidden" value="44" id="input_">
					</li>
									<li>
						45						<input type="hidden" value="45" id="input_">
					</li>
									<li>
						46						<input type="hidden" value="46" id="input_">
					</li>
									<li>
						47						<input type="hidden" value="47" id="input_">
					</li>
									<li>
						48						<input type="hidden" value="48" id="input_">
					</li>
									<li>
						49						<input type="hidden" value="49" id="input_">
					</li>
									<li>
						50						<input type="hidden" value="50" id="input_">
					</li>
									<li>
						51						<input type="hidden" value="51" id="input_">
					</li>
									<li>
						52						<input type="hidden" value="52" id="input_">
					</li>
									<li>
						53						<input type="hidden" value="53" id="input_">
					</li>
									<li>
						54						<input type="hidden" value="54" id="input_">
					</li>
									<li>
						55						<input type="hidden" value="55" id="input_">
					</li>
									<li>
						56						<input type="hidden" value="56" id="input_">
					</li>
									<li>
						57						<input type="hidden" value="57" id="input_">
					</li>
									<li>
						58						<input type="hidden" value="58" id="input_">
					</li>
									<li>
						59						<input type="hidden" value="59" id="input_">
					</li>
									<li>
						60						<input type="hidden" value="60" id="input_">
					</li>
									<li>
						61						<input type="hidden" value="61" id="input_">
					</li>
									<li>
						62						<input type="hidden" value="62" id="input_">
					</li>
									<li>
						63						<input type="hidden" value="63" id="input_">
					</li>
									<li>
						64						<input type="hidden" value="64" id="input_">
					</li>
									<li>
						65						<input type="hidden" value="65" id="input_">
					</li>
									<li>
						66						<input type="hidden" value="66" id="input_">
					</li>
									<li>
						67						<input type="hidden" value="67" id="input_">
					</li>
									<li>
						68						<input type="hidden" value="68" id="input_">
					</li>
									<li>
						69						<input type="hidden" value="69" id="input_">
					</li>
									<li>
						70						<input type="hidden" value="70" id="input_">
					</li>
									<li>
						71						<input type="hidden" value="71" id="input_">
					</li>
									<li>
						72						<input type="hidden" value="72" id="input_">
					</li>
									<li>
						73						<input type="hidden" value="73" id="input_">
					</li>
									<li>
						74						<input type="hidden" value="74" id="input_">
					</li>
									<li>
						75						<input type="hidden" value="75" id="input_">
					</li>
									<li>
						76						<input type="hidden" value="76" id="input_">
					</li>
									<li>
						77						<input type="hidden" value="77" id="input_">
					</li>
									<li>
						78						<input type="hidden" value="78" id="input_">
					</li>
									<li>
						79						<input type="hidden" value="79" id="input_">
					</li>
									<li>
						80						<input type="hidden" value="80" id="input_">
					</li>
									<li>
						81						<input type="hidden" value="81" id="input_">
					</li>
									<li>
						82						<input type="hidden" value="82" id="input_">
					</li>
									<li>
						83						<input type="hidden" value="83" id="input_">
					</li>
									<li>
						84						<input type="hidden" value="84" id="input_">
					</li>
									<li>
						85						<input type="hidden" value="85" id="input_">
					</li>
									<li>
						86						<input type="hidden" value="86" id="input_">
					</li>
									<li>
						87						<input type="hidden" value="87" id="input_">
					</li>
									<li>
						88						<input type="hidden" value="88" id="input_">
					</li>
									<li>
						89						<input type="hidden" value="89" id="input_">
					</li>
									<li>
						90						<input type="hidden" value="90" id="input_">
					</li>
									<li>
						91						<input type="hidden" value="91" id="input_">
					</li>
									<li>
						92						<input type="hidden" value="92" id="input_">
					</li>
									<li>
						93						<input type="hidden" value="93" id="input_">
					</li>
									<li>
						94						<input type="hidden" value="94" id="input_">
					</li>
									<li>
						95						<input type="hidden" value="95" id="input_">
					</li>
									<li>
						96						<input type="hidden" value="96" id="input_">
					</li>
									<li>
						97						<input type="hidden" value="97" id="input_">
					</li>
									<li>
						98						<input type="hidden" value="98" id="input_">
					</li>
									<li>
						99						<input type="hidden" value="99" id="input_">
					</li>
							</ul>
		<div class="slider scrollSlider" style="height: 250px;"><div class="bar" style="top: 0px; position: relative;"></div></div></div>
					<div class="scrollContainerBottom"></div>
				<input id="age" type="hidden" name="age" value="01" class="part">
	</div>
	<input id="year" type="hidden" name="year" value="2015">
	<input id="month" type="hidden" name="month" value="1">
	<input id="day" type="hidden" name="day" value="1">
	<input id="currentYear" type="hidden" value="2015">
	<input id="ubibirthday" type="hidden" value="2015-1-1" class="validate-ajax-ubibirthday">
</fieldset>
	

	<fieldset style="z-index: 87;" id="realmSelection">

		<div id="realmDropdown" class="dropdown scroll-7">
			<div>Northisle <span class=" yellow">75%</span>
									</div>
							<div class="scrollContainerTop"></div>
						<div class="scrollContainer">
				<ul>
																	<li>
							Newfoundland														<span class="red">90%</span>
							<input type="hidden" value="1" id="input_">
						</li>
																	<li class="active">
							Northisle														<span class="yellow">75%</span>
							<input type="hidden" value="2" id="input_">
						</li>
																	<li>
							Sandycove														<span class="yellow">65%</span>
							<input type="hidden" value="3" id="input_">
						</li>
									</ul>
			</div>
							<div class="scrollContainerBottom"></div>
						<input id="realm" type="hidden" name="realm" value="2" class="validate-ajax-realm">
		</div>
	</fieldset>

			<fieldset style="z-index: 86;" class="label">
			<input id="terms" name="terms" type="checkbox" value="1" class="validate-required-check errorTitle-errorTermsTitle errorText-errorTermsText">
			<label for="terms" id="termsLabel" class="">I accept the <a href="http://www.thesettlersonline.com/en/gtc" class="_blank legal" target="_blank">Terms &amp; Conditions</a> and the <a href="http://www.thesettlersonline.com/en/privacy-policy" class="_blank legal" target="_blank">Privacy Policy</a>.</label>
		</fieldset>
	<fieldset class="ssl">
	<img src="http://tso-uk-website.cdn.ubi.com/sites/default/themes/siedler/images/common/form/ssl-icon.png" width="18" height="24" alt="">SSL secure data transfer</fieldset></div>
<div id="registerWait">
	<div class="requestOverlay showWhileBusy">
	<img src="http://tso-uk-website.cdn.ubi.com/sites/default/themes/siedler/images/common/register/wait/top.gif" width="118" height="93" alt="">
	<div>please wait</div>
</div></div>
			</div>
	<div id="registerBottom"></div>

			<fieldset id="playButton" class="button" style="background-position: 0px 0px;">
						<img id="shieldButton" src="http://tso-uk-website.cdn.ubi.com/sites/default/themes/siedler/images/landing/home11/text/gb-en/play.png" alt="PLAY NOW">
		</fieldset>
	<input type="submit" style="display: block; height: 0px; width: 0px; position: absolute; top: 0px; left: 0px; border: none; background: none;"></form>


			<div class="linkContainer">
		<div class="top"></div>
		<div class="middle">
			<div class="containerBox">
				<a class="communityLink" href="http://www.thesettlersonline.com/en/homepage">
					Already registered?				</a>
				<fieldset style="z-index: 19;" class="partners ">
			<a href="#" class="uplay login jsInstance-login">
				</a>

			<a href="https://www.facebook.com/v2.3/dialog/oauth?client_id=139670322799514&amp;redirect_uri=http%3A%2F%2Fwww.thesettlersonline.com%2Fen&amp;state=1f32f4113d7c29dc56c64a7a2fb6fea0&amp;sdk=php-sdk-4.0.23&amp;scope=email%2Cuser_birthday" class="facebook fbiframe" id="facebook_login">
					</a>
	</fieldset>

<script type="text/javascript">
	var uplayConnect = uplayConnect || {};
	uplayConnect.uplayButtonUrl = 'https://uat-uplayconnect.ubi.com/?appId=&lang=en-GB&nextUrl=';
</script>
			</div>
		</div>
		<div class="bottom"></div>
	</div>

									</div>