
<script type="text/x-handlebars" data-template-name="cfddetail">

    <div class="collapse navbar-collapse border">
        <ul class="nav navbar-nav">    
                                    <li class=""><a>未平仓({{model.hold.length}})</a></li>
                                    <li class=""><a>已平仓({{model.orderhistory.length}})</a></li>          
        </ul>            
    </div> 
                                                                             
                                   

</script>
