
<script type="text/x-handlebars" data-template-name="dropdown_indice">

    <div class="collapse navbar-collapse border_bottom_radius">
        <ul class="nav navbar-nav">                                
            <!-- Dropdown -->
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                <~i18n .Lang "currency"~><span class="badge">{{model.indice.length}} </span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#each item in model.indice}}
                        <li>
                           {{#link-to 'cfd' item.symbol}} 
                            <~if eq .Lang "zh-CN"~>
                               {{item.cid}}   
                            <~end~>
                            <~if eq .Lang "en-US"~>
                               {{item.eid}}   
                            <~end~>
                           <span class='buy'>{{item.buyPrice}}</span>
                           <span class='sell'>{{item.sellPrice}}</span>
                           {{/link-to}}                             
                          
                        </li>   
                    {{/each}}

                </ul>
            </li>
            
        </ul>            
    </div>
      
   
</script>