        
<script type="text/x-handlebars" data-template-name="finder/index">

<div class ='container'>
    <div class="row home-box"> 
        <div class="col-md-12">
            <div class="table-responsive">  
                <table class="table table-striped table-hover table-condensed table-bordered border">
                          
                    <tr>
                       <th> 名称</th>
                       <th> 总收益率</th>
                       <th> 月均收益率</th>           
                       <th> 存活周期</th>
                       <th> 胜率</th>
                       <th> 日均喊单数</th> 
                       <th> 最大持仓周期</th> 
                       <th> 最小持仓周期</th>
                       <th> 平均每单收益点数</th> 
                       <th> 平仓利润</th>
              
                    </tr> 
                 {{#each item in model.marketmaker}}   
                    <tr>              
                        <td width='10%'>{{item.createDate}} </td>               
                        <td width='20%'> {{#link-to 'mmkind' item.kind}}     {{item.cid}}   {{/link-to}}   </td>  
                        <td width='10%'>{{item.perShareValue}} </td>              
                        <td width='10%'>{{item.netValue}} </td> 
                        <td width='10%'>{{item.amount}} </td>                   
                        <td width='10%'>{{item.holdTotalAmount}}</td>     
                        <td width='10%'>{{item.holdTotalProfit}} </td>  
                        <td width='10%'>{{item.closedAmount}} </td>  
                        <td width='10%'>{{item.closedProfit}} </td>   
       
                      
                                    
                    </tr> 
                 {{/each}}       
                </table>  
            </div>
            {{#if chartdata_netvalue}} 
            <div class="col-md-12">
                <div class="feature">
                    <h3 class="title">
                            每日基金净值
                    </h3>
                    <p class="content">
                    <div class=''>
                        <div class="chart-container">
                              {{time-series-chart lineData=chartdata_netvalue}}
                            </div>
                        </div>
                        
                    </p>
                </div>
            </div>
             {{/if}}



        </div>


    </div>
</div>
</script>

<!--

<script type="text/x-handlebars" data-template-name="finder">

<div class ='container'>
    <div class="row home-box"> 
        <div class="col-md-12">
            


                 {{outlet}}



        </div>
    </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="mmkind/index">

             {{render 'cfddetail' model}}  

     
</script>

<script type="text/x-handlebars" data-template-name="mmkind">   

    {{render 'marketmaker.index' model}}    
    <div class ='container'>
        <div class="row home-box"> 
            <div class="col-md-12">

               



                <ul class="nav nav-tabs" id="myTab"> 
                    <li class="active"><a href="#holdReport">客户持仓明细</a></li> 
                    <li><a href="#closedReport">客户已平仓明细</a></li>                    
                    <li><a href="#dailyReport">客每日盈亏统计</a></li> 
                    <li><a href="#investReport">投资者列表</a></li> 
                    <li><a href="#myInvest">我的投资</a></li> 
                </ul> 

                <div class="tab-content"> 
                    <div class="tab-pane active" id="holdReport"> {{render 'hold' model.hold}}   </div>
                    <div class="tab-pane" id="closedReport">...</div>                      
                    <div class="tab-pane" id="dailyReport"> {{render 'dailyreport' model.dailyreport}}   </div> 
                    <div class="tab-pane" id="investReport">...</div> 
                    <div class="tab-pane" id="myInvest">...</div> 
                </div> 

            </div>
        </div>
    </div>    






</script>

<script type="text/x-handlebars" data-template-name="kindlist">
    <div class="slideTxtBox" >
        <div class="hd">
            <ul>
                {{#each item in model.indice}}                                 
                    <li>           
                       {{#link-to 'cfddetail' item.symbol}}  {{item.cid}}   {{/link-to}}                           
                    </li>                           
                {{/each}}
            </ul>

        </div>
        <div class="bd">
                 {{outlet}}
                  
            
        </div>
    </div>
  
            
</script>   





       
<script type="text/x-handlebars" data-template-name="holdDetail">


<div class ='container'>
    <div class="row home-box"> 
        <div class="col-md-12">
            <div class="table-responsive">  
                <table class="table table-striped table-hover table-condensed table-bordered border">


                     {{#each item in model}}   
                        <tr>              
           
                            <td width='20%'>{{item.nick}}</td>  
                            <td width='10%'>{{item.holdTotalProfit}}</td>                   
  
                                 
                        </tr> 
                     {{/each}}       
                </table>  
            </div>  
        </div>  
    </div>
</div>
</script>
-->