<div style="width: 117px; height: 371px; position: absolute; left: 1365px; display: block; top:445px;">
	<a href="http://down.sandai.net/xlgame/sgsj0821_setup.exe?atm_cl=ad&amp;atm_pos=12585&amp;e_code=165203" target="_blank" class="retad">
	<img src="http://ossweb-img.qq.com/upload/adw/image/201509/1441496739466755807.jpg" alt="右侧浮层广告位1" width="117" height="167"></a>
	
	<a href="http://www.xunyou.com/qq_age/?atm_cl=ad&amp;atm_pos=8166&amp;e_code=157793" target="_blank" class="retad">
	<img src="http://ossweb-img.qq.com/upload/adw/image/201508/1438804448047185278.jpg" alt="右侧浮层广告位2" width="117" height="167"></a>
	
	<div class="retdiv"><a href="#" title=""></a>
	</div>
</div>