<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="slene, Unknown" />
 <meta name="_xsrf" content="<~.xsrf_token~>" />
<link rel="shortcut icon" href="/static/img/favicon.png" />

<!-- Stylesheets -->
<!--
<~compress_css "lib"~>
<~compress_css "app"~>
<~compress_css "trade"~>
-->
<~compress_css "gala"~>
<~str2html "<!--[if IE 7]>"~>
<~compress_css "ie7"~>
<~str2html "<![endif]-->"~>
</head>
<~compress_js "lib"~>
<~compress_js "ember"~>
<~compress_js "trade"~>
<~compress_js "validate"~>
<~compress_js "effect"~>
