<script type="text/x-handlebars" data-template-name="index">
    <div class="main-header">
        <div class="container">


            <div class="row">
                <div class="col-md-12">
                        <div style='float:right'>

                             {{render 'welcome.login'}}
            
                            

                        </div>  
                    <div class='focusBox'>
                
                        <ul class="pic" >
                            <li style='background: #39A4DC url(/static/img/home/idea.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>

                            <li style='background: #39A4DC url(/static/img/home/idea_2.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>

                            <li style='background: #39A4DC url(/static/img/home/idea_3.jpg) center repeat;'>
                                <a href="#" target="_blank" ></a>
                            </li>


                                    <li><a href="#" target="_blank">
                                        <img src="http://chart.finance.yahoo.com/z?t=1y&s=%5EDJI&c=399001.SZ,000001.SS"></a></li>


                            <li>
       
                            </li>

                        </ul>
                        <div class="txt-bg"></div>
                        <div class="txt">
                            <ul>
                                <li style="bottom: 0px;"><a href="#">外汇</a></li>
                                <li style="bottom: -36px;"><a href="#">全球股市指数</a></li>
                                <li style="bottom: -36px;"><a href="#">电子货币</a></li>
                                <li style="bottom: -36px;"><a href="#">电子货币2</a></li>                     
     
                            </ul>
                        </div>

                        <ul class="num">
                            <li class="on"><a>1</a><span></span></li>
                            <li class=""><a>2</a><span></span></li>
                            <li class=""><a>3</a><span></span></li>
                            <li class=""><a>4</a><span></span></li>
                          
                        </ul>




                    </div>
                </div>

            </div>
        </div>
    </div>
    {{partial "intro"}}
    {{partial "feature"}}
    {{partial "friendlink"}}    
</script>
<script type="text/x-handlebars" data-template-name="container_head">
    <div class="container">
        <div class="row home-box">
            <div class="col-md-12">
</script>
<script type="text/x-handlebars" data-template-name="container_footer">
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars" data-template-name="friendlink">
  {{partial "container_head"}}
            <h2><l><~i18n .Lang "home.friendlink"~></l></h2>
            <div class="whouse">
                <img class="img-thumbnail" src="/static/img/friendlink/btc123.png">
                <img class="img-thumbnail" src="/static/img/friendlink/btcchina.png">
                <img class="img-thumbnail" src="/static/img/friendlink/huobi.png">

            </div>
  {{partial "container_footer"}}
</script>

<script type="text/x-handlebars" data-template-name="feature">
  {{partial "container_head"}}
            <h2><l><~i18n .Lang "home.features"~></l></h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature">
                        <h3 class="title">
                            <~if eq .Lang "zh-CN"~>
                                简单化
                            <~else~>
                                EASY TO USE
                            <~end~>
                        </h3>
                        <p class="content">
                            <div class='well markdown'>
                            <div class="chart-container">
              
                            </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature">
                        <h3 class="title">
                            <~if eq .Lang "zh-CN"~>
                                智能化
                            <~else~>
                                INTELLIGENT
                            <~end~>
                        </h3>
                        <p class="content">
                        <div class='well markdown'>
                            <div class="chart-container">
          
                            </div>
                        </div>
                            
                        </p>
                    </div>
                </div>
                
            </div>
  {{partial "container_footer"}}
</script>
<script type="text/x-handlebars" data-template-name="intro">
  {{partial "container_head"}}
        <div class="col-md-8">
            <h2><l><~i18n .Lang "home.quick_start"~></l></h2>
            <div class="row">
                <div class="col-md-6">



                    <div class="markdown">
                        <~if eq .Lang "zh-CN"~>
                            <p>下载安装</p><i class="fa fa-spinner fa-spin"></i>spin
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>创建文件 <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                        <~else~>
                            <p>Download and install</p>
                            <pre lang="bash"><code>go get github.com/astaxie/beego</code></pre>
                            <p>Create file <code>hello.go</code></p>
                            <pre lang="go"><code>package main<br><br>import "github.com/astaxie/beego"<br><br>func main() {<br>    beego.Run()<br>}</code></pre>
                        <~end~>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="markdown">
                        <~if eq .Lang "zh-CN"~>
                            <p>编译运行</p>
                            <pre lang="bash"><code>go build -o hello hello.go<br>./hello</code></pre>
                            <p>浏览效果</p>
                            <p>打开浏览器并访问 <code>http://localhost:9999</code></p>
                            <p>恭喜！您已经成功构建了第一个 beego 项目。</p>
                            <p>请查阅 <a href="/docs">开发文档</a> 以进行深入学习。</p>
                        <~else~>
                            <p>Build and run</p>
                            <pre lang="bash"><code>go build hello.go<br>./hello</code></pre>
                            <p>View effects</p>
                            <p>Open your browser and visit <code>http://localhost:9999</code></p>
                            <p>Congratulations! You just built your first beego app.</p>
                            <p>Please see <a href="/docs">Documentation</a> for going further.</p>
                        <~end~>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="home-box">
                <h2><l><~i18n .Lang "home.further_reading"~></l></h2>
                <div class="well markdown">
                    <div class="container">

                        <form class="form-inline">
                            <div class="col-md-3 form-group">
                                <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
                            </div>
                            <button id="sendbtn" type="button" class="btn btn-default"><~i18n .Lang "Send"~></button>
                        </form>
                    </div>

                    <div class="container">
                        <h3><l><~i18n .Lang "chat_history"~></l>:</h3>
                        <ul id="chatbox">
                            <li><~i18n .Lang "welcome"~></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  {{partial "container_footer"}}
</script>